body {
  font-family: 'Spartan', sans-serif; }

.container {
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  padding-top: 5rem; }

.main {
  width: 400px; }

header span {
  font-size: 8px;
  text-transform: uppercase;
  margin-right: 10px; }
header .toggle-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 2.6rem;
  border: 0;
  text-align: center; }
  header .toggle-wrapper label {
    display: inline-block;
    font-size: 7px;
    position: relative;
    padding-bottom: .8rem;
    z-index: 2;
    cursor: pointer; }
  header .toggle-wrapper label:first-of-type {
    z-index: 1; }
  header .toggle-wrapper input {
    cursor: pointer;
    position: absolute;
    top: 2px;
    height: 100%;
    width: 23%;
    appearance: none;
    background: none;
    opacity: 0.000001;
    z-index: 5; }
  header .toggle-wrapper input:focus + label {
    text-decoration: underline; }
  header .toggle-wrapper label:first-of-type::before {
    content: '';
    position: absolute;
    width: 2.4rem;
    height: 12px;
    bottom: 0;
    left: -6px;
    border-radius: 0.95rem; }
  header .toggle-wrapper label:last-of-type::after {
    content: '';
    position: absolute;
    height: .555rem;
    width: .555rem;
    border-radius: 50%;
    bottom: 0.09rem;
    right: 1.33rem;
    transition: transform 0.3s ease; }
  header .toggle-wrapper input:first-of-type:checked ~ label:last-of-type::after {
    transform: translateX(0rem); }
  header .toggle-wrapper input:nth-of-type(2):checked ~ label:last-of-type::after {
    transform: translateX(0.7rem); }
  header .toggle-wrapper input:last-of-type:checked ~ label:last-of-type::after {
    transform: translateX(1.4rem); }

.screen-box {
  border-radius: .25rem; }
  .screen-box .form-control {
    font-size: 2rem;
    font-weight: 700; }
  .screen-box input {
    background-color: transparent;
    border: transparent; }
  .screen-box input:focus {
    background-color: transparent;
    border: transparent;
    outline: none;
    box-shadow: none; }

.del-key-bg {
  font-size: 11px;
  text-transform: uppercase; }

.btn-bg-color,
.del-key-bg,
.btn-equal-key,
header h6, header span,
header label {
  font-weight: 700; }

.text-white {
  color: white !important; }

/* ==== Dark Blue Background ====*/
.blue-main-bg {
  background-color: #3a4764; }
  .blue-main-bg header h6, .blue-main-bg header span {
    color: white; }
  .blue-main-bg .toggle-wrapper label {
    color: white; }
  .blue-main-bg .toggle-wrapper label:first-of-type::before {
    background-color: #232c43; }
  .blue-main-bg .toggle-wrapper label:last-of-type::after {
    background-color: #d03f2f; }
  .blue-main-bg .screen-box {
    background-color: #182034; }
    .blue-main-bg .screen-box input {
      color: white; }
  .blue-main-bg .keypad {
    background-color: #232c43; }
  .blue-main-bg .key-bg-white .btn-bg-color {
    color: #637097;
    background-color: #eae3dc;
    border-color: #eae3dc;
    box-shadow: 0px 2.5px #b4a597; }
  .blue-main-bg .key-bg-white .btn-bg-color:active {
    color: #637097;
    background-color: #eae3dc;
    border-color: #eae3dc;
    box-shadow: 0px 2.5px #b4a597; }
  .blue-main-bg .key-bg-white .btn-bg-color:focus {
    box-shadow: 0 0 0 0.2rem #b4a597; }
  .blue-main-bg .key-bg-white .del-key-bg {
    color: white;
    background-color: #637097;
    border-color: #637097;
    box-shadow: 0px 2.5px #404e72; }
  .blue-main-bg .key-bg-white .del-key-bg:focus {
    box-shadow: 0 0 0 0.2rem #404e72; }
  .blue-main-bg .key-bg-white .btn-equal-key {
    color: white;
    background-color: #d03f2f;
    border-color: #d03f2f;
    box-shadow: 0px 2.5px #93261a; }
  .blue-main-bg .key-bg-white .btn-equal-key:focus {
    box-shadow: 0 0 0 0.2rem #93261a; }

/* ==== End Dark Blue Background ====*/
/* ==== Light Gray Background ====*/
.light-main-bg {
  background-color: #e6e6e6; }
  .light-main-bg header h6, .light-main-bg header span {
    color: #35352c; }
  .light-main-bg .toggle-wrapper label {
    color: #35352c; }
  .light-main-bg .toggle-wrapper label:first-of-type::before {
    background-color: #d1cccc; }
  .light-main-bg .toggle-wrapper label:last-of-type::after {
    background-color: #ca5502; }
  .light-main-bg .screen-box {
    background-color: #ededed; }
    .light-main-bg .screen-box input {
      color: #35352c; }
  .light-main-bg .keypad {
    background-color: #d1cccc; }
  .light-main-bg .key-bg-white .btn-bg-color {
    color: #35352c;
    background-color: #e5e4e1;
    border-color: #e5e4e1;
    box-shadow: 0px 2.5px #a69d91; }
  .light-main-bg .key-bg-white .btn-bg-color:active {
    color: #35352c;
    background-color: #e5e4e1;
    border-color: #e5e4e1;
    box-shadow: 0px 2.5px #a69d91; }
  .light-main-bg .key-bg-white .btn-bg-color:focus {
    box-shadow: 0 0 0 0.2rem #a69d91; }
  .light-main-bg .key-bg-white .del-key-bg {
    color: white;
    background-color: #377f86;
    border-color: #377f86;
    box-shadow: 0px 2.5px #1b5f65; }
  .light-main-bg .key-bg-white .del-key-bg:focus {
    box-shadow: 0 0 0 0.2rem #1b5f65; }
  .light-main-bg .key-bg-white .btn-equal-key {
    color: white;
    background-color: #ca5502;
    border-color: #ca5502;
    box-shadow: 0px 2.5px #893901; }
  .light-main-bg .key-bg-white .btn-equal-key:focus {
    box-shadow: 0 0 0 0.2rem #893901; }

/* ==== End Light Gray Background ====*/
/* ==== Violet Background ====*/
.violet-main-bg {
  background-color: #160628; }
  .violet-main-bg header h6, .violet-main-bg header span {
    color: #ffe53d; }
  .violet-main-bg .toggle-wrapper label {
    color: #ffe53d; }
  .violet-main-bg .toggle-wrapper label:first-of-type::before {
    background-color: #1d0934; }
  .violet-main-bg .toggle-wrapper label:last-of-type::after {
    background-color: #00e0d1; }
  .violet-main-bg .screen-box {
    background-color: #1d0934; }
    .violet-main-bg .screen-box input {
      color: #ffe53d; }
  .violet-main-bg .keypad {
    background-color: #1d0934; }
  .violet-main-bg .key-bg-white .btn-bg-color {
    color: #ffe53d;
    background-color: #341c4f;
    border-color: #341c4f;
    box-shadow: 0px 2.5px #871c9c; }
  .violet-main-bg .key-bg-white .btn-bg-color:active {
    color: #ffe53d;
    background-color: #341c4f;
    border-color: #341c4f;
    box-shadow: 0px 2.5px #871c9c; }
  .violet-main-bg .key-bg-white .btn-bg-color:focus {
    box-shadow: 0 0 0 0.2rem #871c9c; }
  .violet-main-bg .key-bg-white .del-key-bg {
    color: white;
    background-color: #58077d;
    border-color: #58077d;
    box-shadow: 0px 2.5px #bc15f4; }
  .violet-main-bg .key-bg-white .del-key-bg:focus {
    box-shadow: 0 0 0 0.2rem #bc15f4; }
  .violet-main-bg .key-bg-white .btn-equal-key {
    color: #1b2428;
    background-color: #00e0d1;
    border-color: #00e0d1;
    box-shadow: 0px 2.5px #6cf9f2; }
  .violet-main-bg .key-bg-white .btn-equal-key:focus {
    box-shadow: 0 0 0 0.2rem #6cf9f2; }

/* ==== End Violet Background ====*/

/*# sourceMappingURL=styles.css.map */
